
/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    8. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }
  
  /* Code Starts Here */

  body {
    display: flex;
    flex-direction: column;
    font-family: "Roboto";
    zoom: 105%;
  }

  .hero-container {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    height: 600px;
  }

  /* Hero */

  .header {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  
  }

  a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 20px;
    font-family: "Roboto";
    padding: 16px;
  }

  #logo {
    font-size: 28px;
    color: #F9FAF8;
    font-weight: bolder;
  }

  .center {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  .center-2 {
    flex: 2;
    display: flex;
    justify-content: center;
    align-content: flex-start;
  }

  .hero {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 90px;
    width: auto;
    height: auto;
  }

  .hero-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    font-size: 18px;
    color: #E5E7EB;
  }

  .hero-info h1 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8
  }

  .hero-image img {
    width: 600px;
    height: 300px;
  }

  .hero-button button {
    margin-top: 10px;
    border: 1px solid  #3882F6;
    border-radius: 7px;
    background-color: #3882F6;
    height: 35px;
    width: 120px;
    color: #E5E7EB;
    font-weight: bolder;
  }

  /* Hero End */
  /* Examples */

  .examples {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 850px;
  }

  .examples-title {
    font-size: 30px;
    font-weight: extra-bold;
    color: #1F2937;
    margin-bottom: 30px;
  }

  .examples-blocks {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .desc {
    width: 290px;
    text-align: center;
  }

  .block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
  } 

  .block img {
    width: 350px;
    height: 200px;
  }

  .quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    height: 500px;
  }
  
  .quote-content {
    width: 900px;
  }

  .quote-content p{
    font-size: 30px;
    font-style: italic;
    color: #1F2937;
  }

  .quote-speaker {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 700px;
  }

  .quote-speaker p {
    margin-top: 20px;
    font-size: 25px;
  }

  /* quote ends here */
  /* cta starts here */

  .cta {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px;
  }

  .cta-box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #3882F6;
    width: 1000px;
    height: 130px;
    border-radius: 6px;
  }

  .cta-content {
    color: #E5E7E8;
    font-size: 20px;
  }

  .cta-button button {
    background-color: transparent;
    border: 2px solid #E5E7E8;
    width: 100px;
    height: 35px;
    border-radius: 6px;
    color: #E5E7E8;
  }

  /* cta ends here */
  /* footer begins here */

  footer {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
  }

  .footer-content {
    margin: 30px;
    font-size: 17px;
    color: #E5E7E8;
  }