
/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    8. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }
  
  /* Code Starts Here */

  body {
    display: flex;
    flex-direction: column;
    font-family: "Roboto";
    zoom: 110%;
  }

  .hero-container {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    height: 550px;
  }

  /* Hero */

  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 1220px;
  }

  a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 20px;
    font-family: "Roboto";
    padding: 16px;
  }

  #logo {
    font-size: 28px;
    color: #F9FAF8;
    font-weight: bolder;
  }

  .center {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  .center-2 {
    flex: 2;
    display: flex;
    justify-content: center;
    align-content: flex-start;
  }

  .hero {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 90px;
    width: auto;
    height: auto;
  }

  .hero-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    height: 400px;
    font-size: 18px;
    color: #E5E7EB;
  }

  .hero-info h1 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8
  }

  .hero-image img {
    width: 600px;
    height: 300px;
  }

  .hero-button button {
    margin-top: 10px;
    border: 1px solid  #3882F6;
    border-radius: 7px;
    background-color: #3882F6;
    height: 35px;
    width: 120px;
    color: #E5E7EB;
    font-weight: bolder;
  }

